<h2><%= "Bulk Discount #{@bulk_discount.id}" %></h2>
  <p><%= "Quantity Threshold: #{@bulk_discount.quantity_threshold}" %></p>
  <p><%= "Percentage Discount: #{@bulk_discount.percentage_discount}" %>